<h1> Letter Tracker</h1>
<% if logged_in? %>
<p><a href='/users/<%= current_user.slug%>'>Your Letters</a> | <a href='/letters/new'>New Letter</a> | <a href='/logout'>Log Out</a></p>
<p>Hello <%= current_user.username %></p>
<% else %>
<p><a href='/login'>Log In</a> | <a href='/signup'>Sign Up</a></p>
<% end %>

<h2>Timeline</h2>
<ul>
<% @letters.each do |letter| %>
  <% if letter.sent? && !!(letter.user) %>
    <li><em><%= letter.user.username %></em> sent a letter! - <%= letter.date_sent.strftime("%m/%d/%Y") %></li>
  <% end %>
<% end %>
</ul>
